<div class="my-content">

<a [routerLink]="['/category']" title="Back">
	<i class="material-icons" >keyboard_backspace</i>
	Back
</a>

<md-card class="app-input-section" >
	<md-card-header color="primary">
    	<md-card-title><label class="my-title">Create New Category</label></md-card-title>
  	</md-card-header>
	<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
		<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
	    	<md-input-container style="width: 100%">
	    		<input md-input placeholder="Name" maxlength="250" type="text" name="name" [(ngModel)]="category.name" #name="ngModel" required>
        		<span md-prefix>
          			<i class="material-icons app-input-icon">add_circle</i>&nbsp;
        		</span>
      		</md-input-container>
            <div role="alert" md-label *ngIf="f.submitted && !name.valid" class="form-error" >Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !icon.valid }">
      		<md-input-container style="width: 100%">
	    		<input md-input placeholder="Icon" maxlength="50" type="text" name="icon" [(ngModel)]="category.icon" #icon="ngModel" required> 
	          	<span md-prefix>
          			<i class="material-icons app-input-icon">accessibility</i>&nbsp;
        		</span>
      		</md-input-container>
			<div *ngIf="f.submitted && !icon.valid" class="form-error">Icon is required</div>
        </div>
		<div class="form-group">
			<button md-raised-button color="accent" type="reset">Clear</button>
			<button md-raised-button color="primary" type="submit">{{action}}</button> 
		</div>
        <div *ngIf="error" class="form-error" style="width: 100%">
		    	{{error}}
        </div>
    </form>  
</md-card>
</div>
