<md-toolbar color="primary">
    <span>Title</span>
    <span class="header-spacer"></span>
    <template [ngIf]="isUserLogged()">
	    <div class="header-width">
	    	<span>Welcome: {{user.name}}</span>
			<button md-icon-button [mdMenuTriggerFor]="menu">
		   		<md-icon>more_vert</md-icon>
			</button>
			<md-menu #menu="mdMenu">
		  		<button md-menu-item routerLink="category">
		    		<md-icon>add_circle</md-icon>
		    		<span> Categories </span>
		  		</button>
			  	<button md-menu-item disabled>
			    	<md-icon> voicemail </md-icon>
			    	<span> Articles </span>
			  	</button>
			  	<button md-menu-item>
			    	<md-icon> notifications_off </md-icon>
			    	<span> Words </span>
			  	</button>
			</md-menu>
		</div>
		<div style="padding-left: 10%">
	    	<button md-button (click)="logout()" >Logout</button>
	    </div>
    </template>
</md-toolbar>