<div class="my-content">
<button md-raised-button color="primary" type="button" [routerLink]="['new']">New</button>
<label class="my-title">{{ 'label.categories' | translate }}</label>
<table class="table table-hover">
	<thead>
		<tr>
			<th>{{ 'label.id' | translate }}</th>
			<th>{{ 'label.name' | translate }}</th>
			<th>{{ 'label.edit' | translate }}</th>
			<th>{{ 'label.delete' | translate }}</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let cat of categories">
			<td>{{ cat.id }}</td>
			<td>{{cat.name}}</td>
			<td>
				<a [routerLink]="['edit', cat.id]">
          			<i  class="material-icons app-input-icon">edit</i>&nbsp;
				</a>
			</td>
			<td>
				<a (click)="openDialog(cat)" href="javascript:void(0)"> 
          			<i  class="material-icons app-input-icon">delete</i>&nbsp;
				</a>
			</td>
		</tr>
	</tbody>
</table>
</div>
<router-outlet></router-outlet>