<div class="my-content">
	<div class="row">
		<div class="col-md-4">
			<button md-raised-button color="primary" type="button" [routerLink]="['new']">New</button>
			<label class="my-title">{{ 'label.categories' | translate }}</label>
	  	</div>
	</div>
	<div style="padding-top: 3%;padding-bottom: 3%">
		<div id="table-size" class="dataTables_length">
			<label>Show
				<select name="table-size-select" [(ngModel)]="pageObject.size" (ngModelChange)="changeSize($event)">
					<option value="5"  [selected]="pageObject.size == 5">5</option>
					<option value="10" [selected]="pageObject.size == 10">10</option>
					<option value="20" [selected]="pageObject.size == 15">20</option>
				</select> entries
			</label>
		</div>
		<div id="table-filter" class="dataTables_filter">
			<label>Search:
				<input type="text" placeholder="Search" [ngModel]="search" (ngModelChange)="changeSearch($event)">
			</label>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th *ngFor="let h of tableHeader">
					<div class="col-sm-2" style="padding-left: 0;">
						<a href="javascript:void(0)" (click)="changeSort(h)">{{ 'label.'+h | translate }}</a>
					</div>
					<a href="javascript:void(0)" (click)="changeSortDir()">
						<i [ngClass]="{hide: sort != h}" class="material-icons app-input-icon" style="padding-left: 4%">{{sortDir}}</i>
					</a>
				</th>
				<th>{{ 'label.edit' | translate }}</th>
				<th>{{ 'label.delete' | translate }}</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let cat of pageObject.content">
				<td>{{cat.id}}</td>
				<td>{{cat.name}}</td>
				<td>{{cat.icon}}</td>
				<td>
					<a [routerLink]="['edit', cat.id]">
	          			<i  class="material-icons app-input-icon">edit</i>&nbsp;
					</a>
				</td>
				<td>
					<a (click)="openDialog(cat)" href="javascript:void(0)"> 
	          			<i  class="material-icons app-input-icon">delete</i>&nbsp;
					</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="dataTables_length">
		<ul class="dataTables_filter pagination pagination-sm">
		    <li [ngClass]="{disabled: pageObject.first}" class="pagination-first page-item">
	    		<a class="page-link" href="javascript:void(0)" (click)="change(0)">First</a>
	    	</li>
		    <li [ngClass]="{disabled: pageObject.first}" class="pagination-prev page-item disabled">
	      		<a class="page-link" href="javascript:void(0)" (click)="change(pageObject.number-1)">Previous</a>
	      	</li>
			<li [ngClass]="{active: item == (pageObject.number+1)}"  *ngFor="let item of items" class="pagination-page page-item">
				<a class="page-link" href="javascript:void(0)" (click)="change(item-1)">{{item}}</a>
			</li>
	    	<li [ngClass]="{disabled: pageObject.last}" class="pagination-next page-item">
	      		<a class="page-link" href="javascript:void(0)" (click)="change(pageObject.number+1)">Next</a>
	      	</li>
	    	<li [ngClass]="{disabled: pageObject.last}" class="pagination-last page-item">
	     		<a class="page-link" href="javascript:void(0)" (click)="change(pageObject.totalPages-1)">Last</a>
	    	</li>
	  	</ul>
	</div>
	<div style="padding-top: 2%" class="dataTables_filter" id="example_info" role="status" aria-live="polite">
		Showing {{(pageObject.number * pageObject.size) + 1}} to {{(pageObject.number * pageObject.size) + pageObject.numberOfElements}} of {{pageObject.totalElements}} entries
	</div>
</div>
<router-outlet></router-outlet>